{% set type = post.type %}
{% set facebookBaseUrl = 'https://www.facebook.com' %}

<div class="news__item">
    <h2 class="news__date">{{ post.created_time|date('d.m.Y') }}</h2>
    <div class="news__message">{{ post.message|apply_filters('facebook_text') }}</div>
    {% if type != 'status' %}
        <div class="news__shared-content">
            {% set parentIdSplit = post.parent_id|split('_') %}
            {% set sharedPageId = parentIdSplit[0] %}
            {% set sharedPostId = parentIdSplit[1] %}
            {% set sharedPageUrl = facebookBaseUrl ~ '/' ~ sharedPageId %}
            {% set sharedPostUrl = sharedPageUrl ~ '/posts/' ~ sharedPostId %}

            <a target="_blank" href="{{ sharedPostUrl }}">Details</a>

            {% if type == 'video' %}
                {% set isYoutube = post.attachments and post.attachments[0].type == 'video_share_youtube' %}
                {{ (isYoutube ? post.source : post.link)|oembed_code }}
            {% elseif type == 'event' %}
                <a target="_blank" href="{{ post.link }}">
                    <img src="{{ facebook_event_picture_url(post.object_id) }}">
                </a>
            {% elseif type == 'photo' %}
                {% include 'components/facebook-gallery.html.twig' with { post: post } %}
            {% elseif type == 'share' %}
                {% if post.attachments and post.attachments[0].media and post.attachments[0].media.image %}
                    <img src="{{ post.attachments[0].media.image.src }}">
                {% endif %}
            {% endif %}

            {% if post.description %}
                Von <a target="_blank" href="{{ sharedPageUrl }}">{{ post.name }}</a>:
                <div class="news__shared-description">
                    {{ post.description|apply_filters('facebook_text')|truncate_keep_html(800) }}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
