{% extends 'page.html.twig' %}

{% block main_content %}
    <h1>{{ post.title }}</h1>

    <ul class="songtexte-toc">
        {% for songtext in songtexte %}
            <li>
                <a href="#{{ songtext.post_name }}">{{ songtext.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="songtexte-container">
        {% for songtext in songtexte %}
            <div id="{{ songtext.post_name }}" class="songtext">
                <div class="songtext__content">
                    <h2>{{ songtext.title }}</h2>
                    {{ songtext.content }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}